[alias]
  bv = branch -v 
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[credential]
	helper = osxkeychain
[user]
	name = Scott Schulthess
	email = scottschulthess@gmail.com
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/scott/.gitignore
[color]
	ui = true
[heroku]
	account = work
