[user]
	name = Scott Schulthess
	email = scottschulthess@gmail.com

[hub]
protocol = https

[core]
	excludesfile = /Users/sschulthess/.gitignore_global
[diff]
	compactionHeuristic = 1
[pager]
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
	diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
[color]
	ui = true
