[user]
	name = Scott Schulthess
	email = scottschulthess@gmail.com

[hub]
protocol = https

[core]
	excludesfile = /Users/sschulthess/.gitignore_global
[diff]
	compactionHeuristic = 1
[color]
	ui = true
